<h1>Category: <%= @category.name %></h1>
<ul>
  <% @products.each do |product| %>
    <li><%= product.score %> - <%= product.name %> - <%= product.image %> - <%= product.price %></li>
  <% end %>
</ul>